table {
  border: 1px solid #999;
  border-collapse: collapse;
  padding: 0;
}

table tr {
  background-color: #fff;
  border: 1px solid #999;
  padding: 0.35em;
}

table th {
  background-color: #f3f3f3;
}

table th,
table td {
  padding: 5px;
  text-align: left;
  border: 1px solid #999;
  font-size: 80%;
  font-weight: normal;
}

table th {
  font-size: 0.85em;
  text-align: center;
}

table a {
  color: #084cc3;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

table a:visited {
  color: #609;
}
