table {
  border: 1px solid #999;
  border-collapse: collapse;
  padding: 0;
}

table tr {
  background-color: #fff;
  border: 1px solid #999;
  padding: 0.35em;
}

table th {
  background-color: #f3f3f3;
}

table th,
table td {
  padding: 5px;
  text-align: left;
  border: 1px solid #999;
  font-size: 80%;
  font-weight: normal;
}

table th {
  font-size: 0.85em;
  text-align: center;
}

table a {
  color: #084cc3;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

table a:visited {
  color: #609;
}

.chart_table td {
  text-align: center;
}

.location_table td {
  padding: 4px;
  text-align: center;
}

.text_center {
  text-align: center;
}

td.td_text_left {
  text-align: left;
}

th.th_text_left {
  text-align: left;
}

.trap_table th {
  font-size: 80%;
  letter-spacing: 0;
}

.top {
  background-color: #ffb3b3;
}

.high {
  background-color: #ffd3d3;
}

.mid {
  background-color: #fffab3;
}

.low {
  background-color: #a3e0fd;
}

.avoid {
  background-color: #cccccc;
}

.not_applicable {
  color: white;
  background-color: #000000;
}

.special {
  color: white;
  background-color: #7700cc;
}

.platinum {
  background-color: #e4f8ff;
}

.gold {
  background-color: #fff3b4;
}

.silver {
  background-color: #e8e8e8;
}

.bronze {
  background-color: #ffd4bf;
}

.purple {
  background-color: #cfafe2;
}

.explanation_2 {
  padding: 0 1em;
  font-size: 90%;
}

.monster_table {
  font-size: 95%;
  letter-spacing: 0;
  text-align: center;
}

.monster_table td {
  padding: 4px;
  text-align: center;
}

.emphasis {
  font-weight: bold;
}

.desc {
  padding-left: 20px;
}

.desc_list li {
  margin-bottom: 5px;
}

.list_style_none {
  list-style-type: none;
}

.table-notes {
  font-size: 90%;
  padding-left: 15px;
}

.detail_notes {
  font-size: 90%;
  padding-left: 15px;
}
