h2 {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 2px;
  background-color: #ebe9ff;
}

h3 {
  font-size: 100%;
  font-weight: normal;
  border-top: 2px solid #ebe9ff;
  border-bottom: 5px solid #ebe9ff;
  border-left: 11px solid #ebe9ff;
  border-right: 3px solid #ebe9ff;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

h4 {
  font-weight: normal;
  font-size: 90%;
  border-left: 15px solid #ebe9ff;
  padding: 0.3em;
}

table {
  border: 1px solid #999;
  border-collapse: collapse;
  padding: 0;
}

table tr {
  background-color: #fff;
  border: 1px solid #999;
  padding: 0.35em;
}

table th {
  background-color: #f3f3f3;
}

table th,
table td {
  padding: 5px;
  text-align: left;
  border: 1px solid #999;
  font-size: 80%;
  font-weight: normal;
}

table th {
  font-size: 0.85em;
}

table a {
  color: #084cc3;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

table a:visited {
  color: #609;
}

.category {
  letter-spacing: 0.05em;
  background-color: #cfafe2;
  text-align: center;
}

.category_subrow {
  background-color: #cfafe2;
  text-align: center;
}

.explanation {
  padding: 0 1em;
}

.page_bottom_padding {
  padding-bottom: 3em;
}
